body{
    font-family: 'Inter', sans-serif;
}
.main{
    margin: o o 1em; 
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.seccion{ 
    width: 100%;
    min-height: 80vh;
    margin: 1em 0; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
:root{
    --tipo-titular: 'Playfair Display', serif;
    --tipo-subtitulo: 'Inter', sans-serif ;
}