body{
    font-family: 'Inter', sans-serif;
}
.main{
    background-color: lightgray;
    margin: 1em 0; 
    text-align: center;
}
.seccion{ 
    width: 100%;
    min-height: 80vh;
    background-color: lime;
    margin: 1em 0; 
    background-color: lightblue;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}