.about{}
.about .h2{
    margin: 0 0 2rem;
}
.about .p{
    max-width: 40rem;
    text-align: center;
    font-size: 1.3em;
    margin: 0 0 2rem;/* top right bottom */
    color: rgba(255, 255, 255, 0.382);}