.seccion{}
.seccion .info{
    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both;
}
.seccion .h2{
    font-family: var(--tipo-titular);
    font-weight: 600;
    font-size: 5em;
    
    line-height: 1em;
    color: rgba(255, 255, 255, 0.774);

}
.seccion .h3{
    font-family: var(--tipo-titular);
    font-size: 4.3em;
    font-weight: 100;
    color: white;
}
.seccion .p{
    color: white;
}
.seccion .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2em 0 0;
}
.seccion .ul .li{
    margin:0 1em;
}
.seccion .ul .a{
    border: solid 1px rgba(255, 255, 255, 0.382);
    border-radius:.5em;
    padding:1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    color: rgba(255, 255, 255, 0.382);
    animation: aparecer1 2s ease 1 backwards;
}
.seccion .ul>:nth-child(2) .a{
    animation-delay: .2s;
}
.seccion .ul .a:hover{
    border-color: rgb(255, 255, 255);
}

@keyframes aparecer1{
    from{
        opacity: 0; 
        transform: translateY(50%);
    }
    to{
        opacity: 1; 
        transform: translateY(0%);
    }
}
