.rrss{
    width: 100%;
    background-color: rgb(153, 92, 11);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.rrss .li{
    margin: 0 1em;
    background-color: orange;
}
.rrss .a{}
.rrss .svg{
    width: 2em;
    height: 2em;
    background-color: red;
}
